<div id="seller-widget">
  <%= link_to user_path @advert.user do %>
    <h2><%= t("adverts.seller") %></h2>
    <img src="<%= @advert.user.image %>" alt="">
    <p class="seller-name"><%= @advert.user.name %></p>
  <% end %>
</div>
