<% if current_user %>
  <%= link_to t("adverts.new"), new_advert_path %>
<% end %>

<h1><%= t("adverts.title") %></h1>
<ul class="adverts">
  <% @adverts.each do |advert| %>
    <%= render partial: 'advert_listing', locals: { advert: advert }%>
    <hr>
  <% end %>
</ul>
