<% if current_user %>
  <%= link_to t("adverts.new"), new_advert_path %>
<% end %>

<h1><%= t("adverts.title") %></h1>
<ul class="adverts">
  <%= render partial: 'advert', collection: @adverts %>
</ul>
