<% if current_user %>
  <%= link_to t("adverts.new"), new_advert_path %>
<% end %>

<h1><%= t("adverts.title") %></h1>
<ul id="adverts-listings">
  <%= render @adverts %>
</ul>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>
