// Place all the styles related to the advert controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#uploaded-images .advert-image {
  background-repeat: no-repeat;
  background-position: right-top;
  background-size: 100%;
  height: 200px;
}


.advert-image {
  position: relative;
  img {
    width: 100%;
  }
  .delete-button {
    color: grey;
    font-size: 3em;
    position: absolute;
    top: 5px;
    right: 10%;
    /*display: none;*/
    cursor: pointer;
  }
}

.advert-image:hover .delete-button {
  color: red;
}


