<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">&copy; 2015 Muzikanten Marktplaats</div>
      <div class="large-6 columns">Website developped by Yann Vanhalewyn</div>
    </div>
  </div>
</footer>
